{
  "sasluser": "irc-username",
  "saslpass": "irc-password",
  "auth": {
    "furaffinity": {
      "cookies": {
        "a": "cookie-a",
        "b": "cookie-b"
      },
      "username": "your-fa-username"
    },
    "e621": {
      "username": "your-e621-username",
      "api_key": "your-e621-api-key"
    }
  }
}
